<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'menu/css/main_page.css' %}">
</head>
<body>


<style>
    header {
        background-color: pink;
    }
</style>
<header class="text-white">
    <div class="container py-3 d-flex justify-content-between align-items-center">

        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

        <h1 class="logo">EtHealthyWorld</h1>

        <button class="btn btn-link text-white" id="basket-icon">
            <i class="bi bi-basket"></i>
        </button>
    </div>
</header>
<style>
    .menu-item{
        background-color: coral;
        font-size: 25px;
        text-align: center;
        height: 6rem;
        color: white;
        text-decoration: none;
        padding: 2rem;
        margin-top: 2rem;
        margin-left: 4.5rem;
    }
</style>
<div class="mt-3 pl-3"><h3>Drinks</h3></div>
<div class="row">
     <div class="col-5 menu-item"><a href="#">item 1</a></div>
    <div class="col-5 menu-item"><a href="#" >item </a></div>
</div>
<div class="row">
    <div class="col-5 menu-item"><a href="#">item 3</a></div>
    <div class="col-5 menu-item"><a href="#">item 4</a></div>
</div>
<div class="row">
    <div class="col-5 menu-item"><a href="#">item 5</a></div>
    <div class="col-5 menu-item"><a href="#">item 6</a></div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
